body {
	background-color: #282923;
	color: white;
	font-family: Tahoma;
}
h1 {
	font-size: 50px;
	text-align: center;
}
.wrapper {
	width: 900px;
	height: 746px;
	margin: 0 auto;
	text-align: right;
	border: solid white 3px;
}
.images {
	float: left;
	display: inline-block;
	border: solid white 3px;
	vertical-align: baseline;
	max-width: 70%;
	max-height: 70%;
}